{% extends 'sebacatalog/base.html' %}


{% block content %}
{% comment %} {% load static %}  
   
<style>
    .carousel-item img {
        max-height: 400px;
        width: auto;
        margin: auto;
    }
      .responsive-image {
        max-width: 100%;  /* Ensures the image is never more than 100% of the parent element */
        max-height: 300px; /* Adjust this to your preference */
        width: auto;  /* Maintain aspect ratio */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Removes extra space below the image */
        margin: 0 auto; /* Center the image if it's smaller than the parent */
      }
    
    </style>


   <img src="{% static '/images/FOTO NO DISPONIBLE.png' %}" alt="My image" height="300px" width="300px"/>  
    {% endcomment %}
   
   {% if categorias %}
        <ul>
            
            <div class="row">
                <div class="card-deck mx-auto">
            {% for categoria in categorias %}
                <a href="/slicatalog/productos/{{ categoria.idcategoria }}/">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img class="card-img-top responsive-image" src="{{categoria.foto}}" width="300" height="300" alt="Img Categorias"> 
                        <div class="text-center"  
                             class="card-title"><b>{{ categoria.descripcion }}</b>
                        </div>
                     </div>
                </div>
                </a>

                {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    </div> 
            
                    <div class="row"> 
                    <div class="card-deck mx-auto">
                {% endif %}    
            {% endfor %}
                </div>
            </div>
        </ul>
        {% else %}
            <p>No hay categorias de segundo nivel cargadas</p>
        {% endif %}
{% endblock %}
