
{% load static %}
    <title>Pedidos Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    

        
    <nav class="navbar navbar-light" style="background-color:snow;">
        <a class="navbar-brand" href="/slicatalog">
            
            <img src="{% static 'images/LogosPackTracking2023-JPG-ALTA-01.jpg' %}" height=120 width=210 alt="Logo">
        </a>

            <!-- Nav -->
        
            <div class="row">
                <div class="col">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    (<span class="total-count"></span>)
                </button>
                <button class="clear-cart btn btn-danger">Vaciar Carro</button></div>
            </div>
        
    </nav>

    
